#downbar{
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: darkslategray;
    opacity: 0.8;
    backdrop-filter: blur(10px);
    height: 65px;
    width: 30vw;
    border-top-right-radius: 50px;
}

#upbar{
    position: absolute;
    top: 0;
    right: 0;
    background-color: darkslategray;
    opacity: 0.7;
    height: 65px;
    width: 10vw;
    border-bottom-left-radius: 50px;
}

#button:hover{
    outline: none;
    border: none;
    background-color: transparent;
}

#logout
{
    display: inline;
    position: relative;
    right: 2vw;
    height: 50px;
    width: 50px;
    transform: rotate(90deg);
}
#logout:hover{
    cursor: pointer;

}

#text{
    display: flex;
    font-family: "Roboto";
    color: floralwhite;
    position: relative;
    right: -2.5vw;
    top: 1vh
}

#date{
    display: flex;
    font-family: "Roboto";
    color: floralwhite;
    position: relative;
    left: 25px;
    line-height: 7px;
}

#profile{
    position: absolute;
    bottom: 0;
    left: 60%;
}

#usern{
    display: inline;
    font-family: "Roboto";
    color: floralwhite;
    position: relative;
    bottom: 1.5vh;
    left: 1.8vw;
    font-size: 26px;
}

#UserImage
{
    display: inline;
    position: relative;
    bottom: 0.5vh;
    height: 50px;
    width: 50px;
    transform: translate(85%, 10%);
    border-radius: 50%;
}

#AppBar{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: darkslategray;
        opacity: 0.7;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        height: 10vh;
        border-radius: 100px;
        width: 40vw;
}

#AppBarheader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
}

.Icons{
    height: 50px;
    width: 50px;
}
